/* main.css */

/* Red */
#red {
  border-top-color: #f00;
  border-top-width: 100px;
  border-top-style: solid;
  height: 100px;
}

/* Orange */
#orange {
  border-top-color: #ffa500;
  border-top-width: 100px;
  border-top-style: solid;
  height: 100px;
}

/* Yellow */
#yellow {
  border-top-color: #ff0;
  border-top-width: 100px;
  border-top-style: solid;
  height: 100px;
}

/* Green */
#green {
  border-top-color: #00bc3f;
  border-top-width: 100px;
  border-top-style: solid;
  height: 100px;
}

/* Blue */
#blue {
  border-top-color: #06f;
  border-top-width: 100px;
  border-top-style: solid;
  height: 100px;
}

/* Indigo */
#indigo {
  border-top-color: #8a2be2;
  border-top-width: 100px;
  border-top-style: solid;
  height: 100px;
}

/* Violet */
#violet {
  border-top-color: #d300c9;
  border-top-width: 100px;
  border-top-style: solid;
  height: 100px;
}

/* General styles to center the rainbow */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #fff;
}

div {
  width: 100px; /* Width for the divs */
}
